<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<title>Mediscreen</title>

</head>
<body>

<h1>Mediscreen - Abernathy clinic</h1>

<div class="container special">

	<h3>&nbsp;</h3>
	<p>Liste des Patients</p>
	<a class="btn btn-primary" href="/patient/list" role="button" title="Liste des Patients">Patients</a>

	<p>&nbsp;</p>
	<p>Liste de l'ensemble des notes médicales</p>
	<a class="btn btn-primary" href="/patHistory/all" role="button" title="Liste des Notes">Notes</a>


</div>

</body>
</html>