*/HELP.md
*/logs
**/.mvn
*/mvnw*
MediscreenWebApp/target/*
!MediscreenWebApp/target/site/jacoco-aggregate
PatientsManagement/target/*
!PatientsManagement/target/site/jacoco-aggregate
RiskAssessment/target/*
!RiskAssessment/target/site/jacoco-aggregate
PatientsNotes/target/*
!PatientsNotes/target/site/jacoco-aggregate

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/
