services:

  mediscreen-app:
    build:
      context: MediscreenWebApp
      dockerfile: Dockerfile
    container_name: mediscreen-app
    env_file: .env
    depends_on:
      - patients-ms
      - notes-ms
      - assessment-ms
    ports:
      - 8090:8090
    volumes:
      - /logm:/mediscreen/logs
    networks:
      - mediscreen-net

  assessment-ms:
    build:
      context: RiskAssessment
      dockerfile: Dockerfile
    container_name: assessment-ms
    env_file: .env
    depends_on:
      - patients-ms
      - notes-ms
    ports:
      - 8083:8083
    volumes:
      - /loga:/massessment/logs
    networks:
      - mediscreen-net

  patients-ms:
    depends_on:
      - patients-db
    build:
      context: PatientsManagement
      dockerfile: Dockerfile
    container_name: patients-ms
    env_file: .env
    ports:
      - 8081:8081
    volumes:
      - /logp:/mpatients/logs
    networks:
      - mediscreen-net

  notes-ms:
    depends_on:
      - notes-db
    build:
      context: PatientsNotes
      dockerfile: Dockerfile
    container_name: notes-ms
    env_file: .env
    ports:
      - 8082:8082
    volumes:
      - /logn:/mnotes/logs
    networks:
      - mediscreen-net

  patients-db:
    image: mysql:8.0
    container_name: patients-db
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_USER=$MYSQLDB_USER
      - MYSQL_PASSWORD=$MYSQLDB_PASSWORD
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - 3307:3306
    volumes:
      - db:/var/lib/mysql
    networks:
      - mediscreen-net

  notes-db:
    image: mongo:4.2.1
    container_name: notes-db
    volumes:
    - mongodb:/data/db
    - mongodb_config:/data/configdb
    ports:
    - 27018:27017
    command: mongod
    networks:
      - mediscreen-net

volumes:
  db:
  mongodb:
  mongodb_config:

networks:
  mediscreen-net: