<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h2 th:text="${'Evaluation du Risque de diabète pour le patient ' + assessmentDTO.patientId}"></h2>
        <div class="row"><p
                th:text="${'Nom : ' + assessmentDTO.firstName + ' ' + assessmentDTO.lastName}"
                style="color: #0056b3;"></p></div>
        <div class="row"><p th:text="${'Sexe : ' + assessmentDTO.sex}" style="color: #0056b3;"></p>
        </div>
        <div class="row"><p
                th:text="${'Date de naissance : ' + assessmentDTO.birthDate + ' (' + assessmentDTO.age + ' ans)'}"
                style="color: #0056b3;"></p></div>
        <div class="row"><p th:text="${'Evaluation du risque : ' + assessmentDTO.riskAssessment }"
                            style="color: #0056b3;"></p></div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <a class="btn btn-danger btn-sm" href="/patient/list">Retour</a>
            <a th:href="@{/patHistory/allByPatient/{patientId}(patientId=${assessmentDTO.patientId})}">Accéder
                aux notes</a>
        </div>
    </div>

</div>
</body>
</html>